<style>
	#calendar {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		font-family: Helvetica;
		border-collapse: collapse;
		border-color: #808080;
	}
	#calendar_title {
		font-size: 1.25em;
		font-weight: normal;
	}
	.button {
		width: 34px;
		height: 34px;
		font-size: 1.05em;
		border: 1px solid #888;
		border-radius: 0;
	}
	.button:hover {
		background: #e2e2e2;
	}
	.button.wide {
		width: 74px;
	}
	.button.selected {
		background: #ccc;
		border: 1px solid #888;
	}
	#calendar_top_row th {
		width: 33.33%;
		height: 60px;
	}
	#calendar_title_day {
		display: none;
	}
	#calendar_weekdays {
		height: 40px;
		border-top: 2px solid #ddd;
	}
	#calendar_weekdays th {
		width: calc(100% / 7);
	}
	#calendar_weekdays th.current_date {
		color: #1a73eb;
	}
	tr.calendar_row {
		border-top: 2.5px solid #ddd;
	}
	tr.calendar_row td {
		border-left: 2.5px solid #ddd;
		border-right: 2.5px solid #ddd;
		padding: 4px;
		vertical-align: top;
	}
	tr.calendar_row td:first-child {
		border-left: none;
	}
	tr.calendar_row td:last-child {
		border-right: none;
	}
	tr.calendar_row td.current_date {
		color: #1a73eb;
	}
</style>
<table id='calendar'>
	<thead>
		<tr id='calendar_top_row'>
			<th colspan="2"><button class='button'>&lt;</button><button class='button wide'>Today</button><button class='button'>&gt;</button></th>
			<th id='calendar_title' colspan="2"><span id='calendar_title_month'></span><span id='calendar_title_day'> 1</span>, <span id='calendar_title_year'></span></th>
			<th colspan="3"><button class='button wide selected'>Month</button><button class='button wide'>Day</button></th>
		</tr>
	</thead>
	<thead id='calendar_weekdays'>
		<tr>
			<th>SUN</th><th>MON</th><th>TUE</th><th>WED</th><th>THU</th><th>FRI</th><th>SAT</th>
		</tr>
	</thead>
	<tbody>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr class='calendar_row'>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
	</tbody>
</table>